
.nav-list{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.nav-link{
    text-decoration: none;
    color:#819B34 ;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
}

.nav-link:hover {
    border-bottom: 2px solid #819B34;
    color: #fff;
}